.header-main {
    font-family: futura-pt;

}
.header-upper {
    width: 100%;
    background-color: #f0ebe6;
    height: 40px;
    font-size: 1em;
}

.header-middle {
    font-size: 2.5em;
    font-family: Segoe UI Light;
    text-align: center;
    color: #82817e;
    height: 2em;
    padding: 1em;
}

.header-lower {
    font-size: 1em;
    font-family: Segoe UI Light;
    text-align: center;
    color: #82817e;
    height: 2em;
}

.header-link {
    cursor: pointer;
    font-weight: 400;
    font-family: Segoe UI Light;
    letter-spacing: 2px;
    margin: 0 12px;
    text-decoration-line: none;
}

.small {
    float: right;
    height: 100%;
}

.header-link:hover {
    color: #ccb391;
    opacity: .5;
}

.header-logo {
    margin-top: .2em;
    width: 2em;
}

.header-home {
    color: #82817e;
    font-size: 1em;
    float: left;
    width: 3em;
    height: calc(100% - .5em);
    vertical-align: middle;
    margin-top: .5em;
    cursor: pointer;
    text-decoration-line: none;
}